@import '../css/root.css';

.carousel{
    height: 20em !important;
    z-index: 5;
}

.margin-carousel{
    margin-top: 2%;
    /* z-index: -1; */
}


/* .caption-container{
    position: relative;
} */

.text-wrapper{
    /* position: absolute;
    left: 1%; */
    top: 5% !important;
    text-align: left !important;
    z-index: 4;
}

.carousel-indicators{
    position: absolute;
    list-style: none;
    z-index: 5 !important;
}

.carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 1em !important;
    border-radius: 100% !important;
    opacity: 100% !important;
}

.carousel-indicators .active {
    background-color: yellow !important;
}


.slide-img{
    height: 20em;
}

.slide-img-overlay{
    height: 20em;
    z-index: 3;
    position: fixed;
    opacity: 50%;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 5 !important;
}

/* .text-bg{
    background-color: var(--background-color);
    width: fit-content;
    text-align: center;
} */

.caption-title{
    font-size: var(--xsmall-font);
    font-weight: bold;
    width: fit-content;
    margin-bottom: 5px;
}

.caption-text{
    font-size: var(--small-font);
    width: fit-content;
    margin-bottom: 5px;
}

.btn {    
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(231,200,37,1) 100%) !important; 
    border: 1px solid transparent;
    border-color: #ddc024 !important;
    padding: .375rem .75rem;
    font-size: var(--small-font) !important;
    font-weight: bold !important;
    color: white !important;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@media only screen and (min-width: 768px) {

}

/* # Laptop [ >= 992px ] # */
@media only screen and (min-width: 992px) {

  
}

/* # Desktop [ >= 1200px ] # */
@media only screen and (min-width: 1200px) {
    .carousel{
        height: 30em !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 30px !important;
        height: 2em !important;
        border-radius: 100% !important;
    }

    .slide-img{
        height: auto;
    }

    .slide-img-overlay{
        height: auto;
    }

    .carousel-indicators{
        position: absolute;
        right: auto !important;
        bottom: 15% !important;
        justify-content: start !important;
        margin-right: auto !important;
        margin-bottom: 1rem !;
        margin-left: 15% !important;
        list-style: none;
    }

    .text-wrapper{        
        position:absolute;
        top: 20%;
        right: auto !important;
        text-align: left !important;
    }

    .caption-title{
        font-size: var(--medium-font);
    }
    
    .caption-text{
        font-size: var(--large-font);
    }

    .btn {    
        font-size: var(--large-font) !important;
    }
}