@import '../css/root.css';

.center-margin{
  /* margin-top: 3%; */
  text-align: center;
  z-index: 6 !important;
  background-color: white;
}

.navbar {
  z-index: 1;

  /* padding-top: 5px; */
}
.navbar-links{
  position: relative;
  z-index: 1 !important;
}

.logo-column {
  display: none;
  z-index: -11 !important;
}

.navbar-nav {
  justify-content: space-around;
}

.full-width{
  width: 100%;
}

.no-margin{
  margin: 0px;
}

.logo-position{
  margin: 0 !important;
  align-items: center;
}

.logo-position-2{
  margin: 0 !important;
  align-items: center;
}


.navigation-logo{
  max-width: 100%;
  height: 5em;
}

.navigation-logo:hover{
  opacity: 0%;
}

.navigation-logo-2{
  max-width: 100%;
  height: 5em;
}


/* .navbar-bgcolor{
  background-color: var(--background-color);
} */

.navbar-text{
  color: black;

}


@media only screen and (min-width: 768px) {
  .navigation-logo{
    height: 7em;
  }

  .navigation-logo-2{
    height: 7em;
  }

}

/* # Laptop [ >= 992px ] # */
@media only screen and (min-width: 992px) {

  .logo-column {
    display: inline;
  }

  /* .box-shadow-logo:hover{
    display: none !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
  } */

  .box-shadow{
    background-image: linear-gradient(to right, black, black) !important;
    background-position: bottom center !important;
    background-repeat: no-repeat !important;
    background-size: 10% 2px !important;
    transition: background-size .2s ease !important;    
  }
  
  .box-shadow:hover{
    background-size: 50% 2px !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
  }


  .center-margin{
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
  }

  .navigation-logo{
    height: 9em;
  }

  .navigation-logo-2{
    height: 9em;
  }

  /* .navigation-logo{
    display:inline !important;
  } */

  .logo-position{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -50%;
    z-index: 2;
  }

  .logo-position-2{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -50%;
    z-index: -2;
  }
  
}

/* # Desktop [ >= 1200px ] # */
@media only screen and (min-width: 1200px) {
  .center-margin{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* .navigation-logo{
    height: 10em;
  } */

  .logo-position{
    top: -60%;
  }

  .logo-position-2{
    top: -60%;
  }
}