.center-margin{
  margin-top: 3%;
}

.logo-position{

  /* position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10; */
}

.navigation-logo{
  max-width: 100%;
  height: 5em;
}

.navbar-bgcolor{
  background-color: #facbcc;
}

.navbar-text{
  color: black;
}



@media only screen and (min-width: 768px) {

}

/* # Laptop [ >= 992px ] # */
@media only screen and (min-width: 992px) {
  .center-margin{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .navigation-logo{
    height: 7em;
  }

  .logo-position{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1px;
  }
  
}

/* # Desktop [ >= 1200px ] # */
@media only screen and (min-width: 1200px) {

}