@import '../css/root.css';

.center-margin{
  /* margin-top: 3%; */
  text-align: center;
  z-index: 6 !important;
}

.navbar {
  z-index: 1;
}

.full-width{
  width: 100%;
}

.no-margin{
  margin: 0px;
}

.logo-position{
  /* position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -10%; */
  align-items: center;
}

.navigation-logo{
  max-width: 100%;
  height: 5em;
}

/* .navbar-bgcolor{
  background-color: var(--background-color);
} */

.navbar-text{
  color: black;

}



@media only screen and (min-width: 768px) {

}

/* # Laptop [ >= 992px ] # */
@media only screen and (min-width: 992px) {
  .center-margin{
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
  }

  .navigation-logo{
    height: 7em;
  }

  .logo-position{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -50%;
  }
  
}

/* # Desktop [ >= 1200px ] # */
@media only screen and (min-width: 1200px) {
  .center-margin{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* .navigation-logo{
    height: 10em;
  } */

  .logo-position{
    top: -60%;
  }
}